version: "3"

volumes:
  mongodata:

services:
  mongodb:
    image: mongo:3.6

  webapi:
    build: 
      context: .
      dockerfile: BookLibrary/Dockerfile
    image: booklibrary-netcore
    ports:
      - 5000:80
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT:-Production}
      - ConnectionStrings__DefaultConnection=${BOOKLIBRARY_MONGODB_CONNECTION:-mongodb://mongodb/library_database}S
      - Logging__LogLevel__Default=${BOOKLIBRARY_LOGLEVEL:-Information}
    depends_on:
      - mongodb
